:root {
    --padding: .8rem;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    font-size: 13px;
}

.app-container {
    width: 100%;
}

.graph-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightgrey;
    border: black solid 1px;
    padding: var(--padding);
    width: 350px;
}

.app-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: .8rem;
    display: inline-block;
}

.level-select-container {
    display: inline-block;
    margin-left: 2rem;
}

.graph-controls {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.highlight-controls {
    position: absolute;
    top: 100px;
    left: 0;
    width: 350px;
    background-color: lightgrey;
    padding: var(--padding);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.clear-highlight {
    margin-top: 1rem;
    height: 30px;
    font-weight: 700;
}

.state-graph-container {
    float: right;
    /* border-left: 1px solid black; */
}

.state-graph-title {
    position: relative;
    top: 10px;
    left: 10px;
    font-weight: 700;
    font-size: .8rem;
    text-align: center;
    border: 1px black solid;
    background-color: lightgrey;
    width: 80px;
    padding: .5rem;
}

.state-graph-controls {
    position: relative;
    top: 20px;
}

.state-graph-svg {
    margin: auto;
}

.state-graph-details {
    top: 50px;
    right: 0;
    position: absolute;
    background-color: lightgrey;
    border: 1px solid black;
    padding: var(--padding)
}

.sequence-graph-container {
    word-wrap: wrap;
    background-color: white;
    float: left;
    border-right: 1px solid black;
}

.sequence-graph-svg {
    margin: auto;
}

.sequence-graph-controls {
    position: absolute;
    margin: .2rem 0 0 .2rem;
}

.sequence-graph-details {
    bottom: 0px;
    position: absolute;
    background-color: lightgrey;
    border: 1px solid black;
    padding: var(--padding);
    width: 100%;
}

.total-sequences {
    position: absolute;
    font-style: italic;
    margin: .2rem 0 0 .2rem;
}

.num-sequences {
    font-weight: 700;
}

/* State Graph */

.statenode {
    stroke-opacity: .7;
    fill-opacity: .7;
    stroke-width: 3;
}

marker#start {
    fill: green;
}

marker#end {
    fill: #680000;
}

marker#mid {
    fill: #5E4E00;
}

/*
The part of the graph that consist of crowd behavior. Defined as a class
*/

marker {
    stroke-opacity: .4;
    fill-opacity: .4;
}

/*
The part of the graph that consist of a selected path.
*/

.start {
    stroke: #000062;
    fill: #1962FF;
}

text.start {
    fill: #000062;
    stroke: none;
}

.mid {
    stroke: #5E4E00;
    fill: #F5FFA3;
}

text.mid {
    fill: #5E4E00;
    stroke: none;
}

.end {
    stroke: #680000;
    fill: #B74D3D;
}

text.end {
    fill: #680000;
    stroke: none;
}

.statelink {
    stroke-opacity: .7;
    /*        fill-opacity: 0;*/
    fill: transparent;
}

/* selected placed here will overshadow start, mid and end */

.selected {
    stroke: #FF0509;
    stroke-opacity: 1;
}

/* Behavior graph */

.behaviornode, .behaviorlink {
    stroke-opacity: .8;
    fill-opacity: .8;
    stroke-width: 3;
    stroke: #FFFAC9;
    transition: stroke-width .2s;
}

.behaviornode {
    stroke: green;
    fill: #88F37F;
}

.selectednode {
    stroke-width: 5;
    stroke: #FF0509;
}

text.complete {
    fill: green;
    stroke: none;
}

.incomplete {
    fill: #FF77DF;
    stroke: purple;
}

text.incomplete {
    fill: purple;
    stroke: none;
}

text {
    font-family: sans-serif;
    pointer-events: none;
    stroke: none;
    font-weight: bold;
}

/*   For coordinates */

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

/* Grid line in the coordinate chart*/

.grid .tick {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
}

#tooltip {
    position: absolute;
    background-color: #e6e6e6;
    border: black 1px solid;
    padding: .5rem;
    opacity: 0;
    transition: .02s;
}

.tooltip-key {
    font-weight: 700;
}